<a href="https://colab.research.google.com/github/katkorre/ERRANT-reclassification/blob/main/ERRANT_repo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
!gdown --id 1GiAeo3a2Cwi5pjiYYG3MObSkqNDlq36W

Downloading...
From: https://drive.google.com/uc?id=1GiAeo3a2Cwi5pjiYYG3MObSkqNDlq36W
To: /content/fce_xl.xlsx
100% 312k/312k [00:00<00:00, 42.0MB/s]

In [4]:
df = pd.read_excel (r'fce_xl.xlsx')
df.head(100)

                                             sentence  ...                                            comment
0   On the other hand , the theatre restaurant was...  ...  A subordinate conjuction that needs to be repl...
1   There was only a person who used to call her b...  ...     Cardinal numbers can be considered determiners
2   At this moment Carole was living with her husb...  ...                                                NaN
3      It was so long time to wait in the theatre .\n  ...                                                NaN
4   I WANT TO THAK YOU FOR PREPARING SUCH A GOOD P...  ...                                                NaN
..                                                ...  ...                                                ...
95  She said that she would n't tell it to anyone ...  ...                                                NaN
96  But one day as I was walking home like every n...  ...                                                NaN
97  I could n't go out of the house for a month so...  ...                                                NaN
98  I 'm writing to you to complain about the musi...  ...                                                NaN
99  Your theatre is known to present excellent spe...  ...                                                NaN

[100 rows x 6 columns]